*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

html{
    background-image: url(../videos/istockphoto-986810134-170667a.jpg);
}

body{
    background-color: rgba(0, 0, 0, .8);
}
#logoimage{
    max-width: 150px;
    float: left;
    width: 100%;
}
header{
    background-color: white;
}

article{
    width: 75%;
    padding: 30px 0;
    margin: 30px auto;
}
article h4{
    text-align: center;
    font-size: 200%;
    color: white;
    padding-bottom: 15px;
    font-family: 'Monoton', cursive;
    
}

#nav_list{
    width: 15%;
    float: left;
    margin: 3em 0 0 3em;
}
#nav_list ul{
    list-style: none;

}
#nav_list ul li{
    background-color: white;
    margin-bottom: 7px;
    border: 3px ridge silver;
    border-radius: 15px;
}
#nav_list ul li a{
    display: block;
    text-decoration: none;
    padding: 5px 1em;
    color: black;
}
section{
    width: 75%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.videowrapper {
    width: 75%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    border: 6px ridge #808080;
    box-shadow: 5px 5px 15px 10px black;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer{
    clear: both;
    background-color: white;
    padding: 15px 0;
    
}
footer p{
    text-align: center;
    font-size: 80%;
}